body {
    background-color: aqua;
}

header {
    color: beige;
    background-color: black;
}

footer {
    background-color: blueviolet;
    width: 20px;
}

div {
    width: auto;
    background-color: brown;
    color: cadetblue;
}